@import "./fonts";
@import "./colors";
@import "./mixin";
@import "./extends";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body{
    font-family: $Nunito;
}
nav{
    background-color: $dark-color;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container-fluid{
    @extend %fluid;
}
.container{
    width: 100%;
    height: auto;

    
    .container-fluid{
        @extend %fluid;
        .logo{
            width: 50%;
            height: 50px;
            @extend %flex-start;
            a{
                color: $light-color;
                font-size: 1.5rem;
                font-family: $Roboto;
            }
        }

        .navbar{
            width: 50%;
            height: 50px;
            @extend %flex-center;

            .nav-links{
                ul{
                    li{
                        display: inline-block;
                        padding: 10px 8px;

                        a{
                            color: $gray;
                            font-size: 1rem;
                            &:hover{
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
        
    }
}

header{
    
    background-color: $dark-color;
    padding: 100px 0;
    .header{
        width: 100%;
        height: auto;
        @extend %flex-center;

        .header-text-area{
            width: 60%;
            height: auto;
            @extend %flex-start;
            flex-direction: column;

            .header-text{
                h1{
                    font-size: 3.2rem;
                    font-family: $Nunito;
                    color: $light-color;
                }
                p{
                    color: $gray;
                    font-size: 1.2rem;
                }
            }
            .header-btn{
                width: 100%;
                margin-top: 20px;
                @extend %flex-start;

                .get{
                    padding: 12px 25px;
                    font-size: 1.2rem;
                    color: $light-color;
                    border-radius: 5px;
                    border: none;
                    background-color: $light-blue;

                    &:hover{
                        opacity: 0.8;
                    }
                }
                .more{
                    padding: 12px 25px;
                    font-size: 1.2rem;
                    color: $light-color;
                    border: 1px solid $light-color;
                    border-radius: 5px;
                    background-color: $dark-color;
                    margin-left: 30px;

                    &:hover{
                        background-color: $light-color;
                        color: black;
                    }

                }
            }
            
        }
        .header-img-container{
            width: 40%;
            height: auto;

            .header-img{
                width: 100%;
                height: 250px;
                background-color: #343A40;
                border-radius: 7px;
                @extend %flex-center;
                
                span{
                    @extend %flex-center;
                    font-size: 3rem;
                    color: $gray;
                }

            }
        }
    }
}


    #title{
        background-color: $light-color;
        width: 100%;
        padding: 100px 0;

        .container-fluid{
            @extend %fluid;
            .title-text{
                width: 40%;
                height: auto;

                h1{
                    font-size: 2rem;
                }
            }
            .title-cards-area{
                width: 60%;
                height: auto;
                @include flex(flex-start,space-between );
                flex-wrap: wrap;
                .card{
                    width: 47%;
                    height: auto;
                    margin-bottom: 25px;
                    @include flex(flex-start,flex-start);
                    flex-direction: column;

                    .card-head{
                        width: 50px;
                        height: 50px;
                        background-color:$light-blue;
                        border-radius: 5px;
                        @extend %flex-center;
                        color: $light-color;
                    }

                    .card-title{
                        margin-top: 15px;
                        font-size: 0.8rem;
                        color: $dark-color;
                    }
                    .card-body{
                        margin-top: 15px;
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }

    #idea{
        width: 100%;
        height: auto;
        padding: 100px 0;
        @extend %flex-center;
        background-color: #F8F9FA;
        .idea-content{
            @extend %flex-center;
            flex-direction: column;
            p{
                width: 45%;
                font-size: 1.5rem;
                font-family: $Barlow;
                font-weight: 800;
            }

            .author{
                width: 100%;
                margin-top: 30px;
                @extend %flex-center;

                .img{
                    width: 40px;
                    height: 40px;
                    background-color: rgb(206,212,218);
                    border-radius: 100%;
                    @extend %flex-center;
                    span{
                        font-size: 0.5rem;
                        color: rgb(158, 163, 168);
                    }
                }
                strong{
                    margin-left: 20px;
                    font-weight: 700;

                    span{
                        color: $light-blue;
                    }
                }
            }
        }
    }

    #blog{
        width: 100%;
        height: auto;
        padding: 100px;
        .container-fluid{
            display: flex;
            width: 100%;
            flex-direction: column;
            .blog-head{
                width: 45%;
                @extend %flex-center;
                flex-direction: column;
                h1{
                    font-size: 2rem;
                    margin-bottom: 20px;
                }
                p{
                    text-align: center;
                    font-size: 1.2rem;
                    color: rgb(112, 107, 107);
                }
            }

            .blog-cards{
                width: 100%;
                height: auto;
                @include flex(center,space-between);
                flex-direction: row;
                flex-wrap: wrap;
                margin: 50px 0;
                .card{
                    width: 30%;
                    height: auto;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;

                    .head{
                        width: 100%;
                        height: 200px;
                        background-color:#9fa3a7;
                        @extend %flex-center;
                        span{
                            @extend %flex-center;
                            font-size: 3rem;
                            color: $gray;
                        }
                    }
                    .body{
                        margin: 30px 30px 0 30px;
                        .icon{
                            margin-bottom: 10px;
                            a{
                                padding: 0.35em 0.65em;
                                font-size: 0.75em;
                                font-family: $Roboto;
                                border-radius: 10px;
                                color: $light-color;
                                background-color: $light-blue;
                            }
                        }
                        h1{
                            font-family: $Nunito;
                            font-size: 1.6rem;
                            margin-bottom: 10px;
                        }
                        p{
                            margin-bottom: 50px;
                        }

                        .author-area{
                            width: 100%;
                            display: flex;

                            .img{
                                width: 40px;
                                height: 40px;
                                background-color: rgb(206,212,218);
                                border-radius: 100%;
                                @extend %flex-center;
                                margin-right: 10px;
                                span{
                                    font-size: 0.5rem;
                                    color: rgb(158, 163, 168);
                                }
                             }
                        }
                        .author{
                            @include flex(flex-start,flex-start );
                            flex-direction: column;
                            p{
                                font-size: 0.9rem;
                                color: #9fa3a7;
                            }
                        }
                    }
                }
            }

            aside{
                width: 100%;
                @include flex(center,center );
                background-color: $light-blue;
                padding: 50px 40px;
                border-radius: 7px;
                margin-top: 50px;
                .call{
                    width: 100%;
                    @include flex(center,space-between );

                    .call-text{
                        width: 65%;
                        height: auto;
                        @include flex(flex-start,center );
                        flex-direction: column;
    
                        h1{
                            font-size: 1.75rem;
                            color: $light-color;
                        }
                        p{
                            font-size: 1rem;
                            color: rgb(122,186,254);
                        }
                    }
                    
                    .send{
                        width: 35%;
                        height: auto;
                        @include flex(flex-start,center );
                        flex-direction: column;

                        .form-control{
                            @include flex(center,space-between );
                            width: 100%;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #212529;
                            background-color: #fff;
                            background-clip: padding-box;
                            border: 1px solid #ced4da;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            border-radius: 0.25rem;
                            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                            input{
                                border: none;
                                font-size: 1rem;
                                color:rgba(57, 58, 59, 0.9);
                                margin-left: 1rem;

                                &:focus{
                                    outline: none;
                                }
                            }
                            button{
                                background-color: $light-blue;
                                font-weight: 400;
                                line-height: 1.5;
                                color: $light-color;
                                text-align: center;
                                text-decoration: none;
                                vertical-align: middle;
                                border: 1px solid transparent;
                                padding: 0.375rem 0.75rem;
                                font-size: 1rem;
                                border-radius: 0.25rem;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                                cursor: pointer;

                                &:hover{
                                    background-color: $light-color;
                                    color: $dark-color;
                                }
                            }
                        }

                        p{
                            margin-top: 10px;
                            font-size: 0.87rem;
                            color: rgb(122,186,254);
                        }
                    }
                }
                
            }
        }
    }

    footer{
        width: 100%;
        background-color: $dark-color;
        padding: 30px 100px;
        @include flex(center,space-between );

        
            .text{
            width: 30%;

            span{
                color: $light-color;
                font-size: 0.9rem;
            }
        }

        .links{
            width: 20%;
            @include flex(center,space-between );
            a{
                text-decoration: underline;
                margin: 0 9px;
                color: $light-color;
                font-size: 0.9rem;
                
            }

            span{
                @extend %flex-center;
                color: $light-color;
            }
        }
        
    }


