@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Nunito:wght@500&display=swap");

.container-fluid, .container .container-fluid, #title .container-fluid {
  width: 80%;
  margin: 0 auto;
  height: auto;
}

.container .container-fluid .navbar, header .header, header .header .header-img-container .header-img, header .header .header-img-container .header-img span, #title .container-fluid .title-cards-area .card .card-head, #idea, #idea .idea-content, #idea .idea-content .author, #idea .idea-content .author .img, #blog .container-fluid .blog-head, #blog .container-fluid .blog-cards .card .head, #blog .container-fluid .blog-cards .card .head span, #blog .container-fluid .blog-cards .card .body .author-area .img, footer .links span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-fluid, .container .container-fluid, #title .container-fluid, .container .container-fluid .logo, header .header .header-text-area, header .header .header-text-area .header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

nav {
  background-color: #212529;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  height: auto;
}

.container .container-fluid .logo {
  width: 50%;
  height: 50px;
}

.container .container-fluid .logo a {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.container .container-fluid .navbar {
  width: 50%;
  height: 50px;
}

.container .container-fluid .navbar .nav-links ul li {
  display: inline-block;
  padding: 10px 8px;
}

.container .container-fluid .navbar .nav-links ul li a {
  color: gray;
  font-size: 1rem;
}

.container .container-fluid .navbar .nav-links ul li a:hover {
  opacity: 0.6;
}

header {
  background-color: #212529;
  padding: 100px 0;
}

header .header {
  width: 100%;
  height: auto;
}

header .header .header-text-area {
  width: 60%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header .header-text-area .header-text h1 {
  font-size: 3.2rem;
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
}

header .header .header-text-area .header-text p {
  color: gray;
  font-size: 1.2rem;
}

header .header .header-text-area .header-btn {
  width: 100%;
  margin-top: 20px;
}

header .header .header-text-area .header-btn .get {
  padding: 12px 25px;
  font-size: 1.2rem;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  background-color: #297af4;
}

header .header .header-text-area .header-btn .get:hover {
  opacity: 0.8;
}

header .header .header-text-area .header-btn .more {
  padding: 12px 25px;
  font-size: 1.2rem;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: #212529;
  margin-left: 30px;
}

header .header .header-text-area .header-btn .more:hover {
  background-color: #FFFFFF;
  color: black;
}

header .header .header-img-container {
  width: 40%;
  height: auto;
}

header .header .header-img-container .header-img {
  width: 100%;
  height: 250px;
  background-color: #343A40;
  border-radius: 7px;
}

header .header .header-img-container .header-img span {
  font-size: 3rem;
  color: gray;
}

#title {
  background-color: #FFFFFF;
  width: 100%;
  padding: 100px 0;
}

#title .container-fluid .title-text {
  width: 40%;
  height: auto;
}

#title .container-fluid .title-text h1 {
  font-size: 2rem;
}

#title .container-fluid .title-cards-area {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#title .container-fluid .title-cards-area .card {
  width: 47%;
  height: auto;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#title .container-fluid .title-cards-area .card .card-head {
  width: 50px;
  height: 50px;
  background-color: #297af4;
  border-radius: 5px;
  color: #FFFFFF;
}

#title .container-fluid .title-cards-area .card .card-title {
  margin-top: 15px;
  font-size: 0.8rem;
  color: #212529;
}

#title .container-fluid .title-cards-area .card .card-body {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 100;
}

#idea {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-color: #F8F9FA;
}

#idea .idea-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#idea .idea-content p {
  width: 45%;
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
}

#idea .idea-content .author {
  width: 100%;
  margin-top: 30px;
}

#idea .idea-content .author .img {
  width: 40px;
  height: 40px;
  background-color: #ced4da;
  border-radius: 100%;
}

#idea .idea-content .author .img span {
  font-size: 0.5rem;
  color: #9ea3a8;
}

#idea .idea-content .author strong {
  margin-left: 20px;
  font-weight: 700;
}

#idea .idea-content .author strong span {
  color: #297af4;
}

#blog {
  width: 100%;
  height: auto;
  padding: 100px;
}

#blog .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .container-fluid .blog-head {
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .container-fluid .blog-head h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#blog .container-fluid .blog-head p {
  text-align: center;
  font-size: 1.2rem;
  color: #706b6b;
}

#blog .container-fluid .blog-cards {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

#blog .container-fluid .blog-cards .card {
  width: 30%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#blog .container-fluid .blog-cards .card .head {
  width: 100%;
  height: 200px;
  background-color: #9fa3a7;
}

#blog .container-fluid .blog-cards .card .head span {
  font-size: 3rem;
  color: gray;
}

#blog .container-fluid .blog-cards .card .body {
  margin: 30px 30px 0 30px;
}

#blog .container-fluid .blog-cards .card .body .icon {
  margin-bottom: 10px;
}

#blog .container-fluid .blog-cards .card .body .icon a {
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #297af4;
}

#blog .container-fluid .blog-cards .card .body h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

#blog .container-fluid .blog-cards .card .body p {
  margin-bottom: 50px;
}

#blog .container-fluid .blog-cards .card .body .author-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog .container-fluid .blog-cards .card .body .author-area .img {
  width: 40px;
  height: 40px;
  background-color: #ced4da;
  border-radius: 100%;
  margin-right: 10px;
}

#blog .container-fluid .blog-cards .card .body .author-area .img span {
  font-size: 0.5rem;
  color: #9ea3a8;
}

#blog .container-fluid .blog-cards .card .body .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .container-fluid .blog-cards .card .body .author p {
  font-size: 0.9rem;
  color: #9fa3a7;
}

#blog .container-fluid aside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #297af4;
  padding: 50px 40px;
  border-radius: 7px;
  margin-top: 50px;
}

#blog .container-fluid aside .call {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog .container-fluid aside .call .call-text {
  width: 65%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .container-fluid aside .call .call-text h1 {
  font-size: 1.75rem;
  color: #FFFFFF;
}

#blog .container-fluid aside .call .call-text p {
  font-size: 1rem;
  color: #7abafe;
}

#blog .container-fluid aside .call .send {
  width: 35%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .container-fluid aside .call .send .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#blog .container-fluid aside .call .send .form-control input {
  border: none;
  font-size: 1rem;
  color: rgba(57, 58, 59, 0.9);
  margin-left: 1rem;
}

#blog .container-fluid aside .call .send .form-control input:focus {
  outline: none;
}

#blog .container-fluid aside .call .send .form-control button {
  background-color: #297af4;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

#blog .container-fluid aside .call .send .form-control button:hover {
  background-color: #FFFFFF;
  color: #212529;
}

#blog .container-fluid aside .call .send p {
  margin-top: 10px;
  font-size: 0.87rem;
  color: #7abafe;
}

footer {
  width: 100%;
  background-color: #212529;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .text {
  width: 30%;
}

footer .text span {
  color: #FFFFFF;
  font-size: 0.9rem;
}

footer .links {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .links a {
  text-decoration: underline;
  margin: 0 9px;
  color: #FFFFFF;
  font-size: 0.9rem;
}

footer .links span {
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */